DATABASE_DB={{ postgres_database }}
DATABASE_USERNAME={{ postgres_username }}
DATABASE_PASSWORD={{ postgres_password }}
DATABASE_PORT={{ postgres_port }}

REDIS_PORT={{ redis_port }}

DAPHNE_PORT={{ daphne_port }}
